#Cloud Config

repo_update: true
repo_upgrade: all

packages:
- apache2

runcmd:
- systemctl enable apache2
- systemctl start apache2
- sh -c 'echo "<h1>Deployed Through Terraform</h1> | sudo tee /var/www/html/index.html'

output:
all: 'tee -a /var/log/cloud_init_output.log'